@charset "UTF-8";

*,:after,:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	line-height: 1.5;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}

body,button,input,select,textarea {
	text-decoration: none!important;
	font-family: Microsoft YaHei,Open Sans,Arial,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;
}

button,input,select,textarea {
	outline: 0;
	border: none;
}

a {
	outline: 0!important;
	background: 0 0!important;
	color: inherit;
	text-decoration: none!important;
}

a:link,a:visited {
	text-decoration: none;
}

a:hover {
	color: #008c95;
}

::-webkit-scrollbar {
	display: none;
}

::-moz-selection {
	background: #a5b5c5;
	color: #fff;
}

::selection {
	background: #a5b5c5;
	color: #fff;
}

h1 :after,h1 :before,h1:after,h1:before {
	display: none!important;
}

.page-template-easy-login .footer,.page-template-easy-login .header,.page-template-easy-login footer,.page-template-easy-login header {
	display: none;
}

.page-template-easy-login {
	position: relative;
	padding: 0 0 66px;
	min-height: 100vh;
	background: #fff;
}

.page-template-easy-login .main {
	padding: 100px 0;
}

.page-template-easy-login .logo {
	display: flex;
	height: 100%;
	max-height: 286px;
	min-height: 170px;
	justify-content: center;
	align-items: center;
}

.page-template-easy-login .logo a {
	position: relative;
	z-index: 2;
	width: auto;
	height: 100px;
}

.page-template-easy-login .logo a svg {
	width: 120px;
	height: 120px;
}

.page-template-easy-login .panel {
	position: relative;
	z-index: 3;
}

.page-template-easy-login .panel .box {
	display: flex;
	margin: 0 auto;
	max-width: 480px;
	min-height: 372px;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 5px 32px 0 rgba(10,15,29,.02),0 10px 66px 0 rgba(10,15,29,.08);
	-ms-box-shadow: 0 5px 32px 0 rgba(10,15,29,.02),0 10px 66px 0 rgba(10,15,29,.08);
	-o-box-shadow: 0 5px 32px 0 rgba(10,15,29,.02),0 10px 66px 0 rgba(10,15,29,.08);
}

.page-template-easy-login .panel .box .content {
	padding: 35px 55px;
	width: 100%;
}

.page-template-easy-login .panel .box .content h1 {
	margin: 0 0 35px;
	text-align: center;
	font-weight: 300;
	font-size: 32px;
	line-height: 55px;
}

.page-template-easy-login .panel .box .content .tips {
	position: relative;
	margin: 0 0 40px;
	padding: 15px;
	max-width: 100%;
	border-left: 3px solid #008c95;
	box-shadow: 0 5px 32px 0 rgba(10,15,29,.02),0 10px 66px 0 rgba(10,15,29,.08);
	color: #008c95;
	font-size: 15px;
	line-height: 2;
	-ms-box-shadow: 0 5px 32px 0 rgba(10,15,29,.02),0 10px 66px 0 rgba(10,15,29,.08);
	-o-box-shadow: 0 5px 32px 0 rgba(10,15,29,.02),0 10px 66px 0 rgba(10,15,29,.08);
}

.page-template-easy-login .panel .box .content .tips.success {
	display: none;
	border-left: 3px solid #008c95;
	color: #008c95;
}

.page-template-easy-login .panel .box .content .tips.error {
	display: none;
	border-left: 3px solid #f50000;
	color: #f50000;
}

.page-template-easy-login .panel .box .content .input {
	position: relative;
	display: flex;
	margin: 0 0 20px;
	height: 56px;
	border: 1px solid #f5f6fa;
	border-radius: 2px;
	background: #fff;
	color: #525666;
	font-size: 17px;
	align-items: center;
}

.page-template-easy-login .panel .box .content .input .form-control {
	display: block;
	padding: 0 15px;
	width: 100%;
	border: none;
	border-radius: 2px;
	background: 0 0;
	font-size: 15px;
}

.page-template-easy-login .panel .box .content .input .form-control:-webkit-autofill {
	background: 0 0;
	transition: background 50000s ease-in-out 0s;
	-ms-transition: background 50000s ease-in-out 0s;
	-webkit-text-fill-color: #525666!important;
}

.page-template-easy-login .panel .box .content .input .form-control:focus {
	outline: 0;
	border-color: #008c95;
}

.page-template-easy-login .panel .box .content .input .form-control:hover {
	border-color: #d3d6e2;
}

.page-template-easy-login .panel .box .content .input .form-control.disabled {
	background: #d3d6e2;
}

.page-template-easy-login .panel .box .content .input .send-captcha {
	position: absolute;
	top: -1px;
	right: 0;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 160px;
	height: 56px;
	border-radius: 0;
	background: #008c95;
	color: #fff;
	text-align: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 56px;
	cursor: pointer;
}

.page-template-easy-login .panel .box .content .input .send-captcha.disabled {
	background: #f5f6fa;
	color: #525666;
	cursor: pointer;
}

.page-template-easy-login .panel .box .content .input .send-captcha .loading {
	display: inline-block;
	margin: 15px 0 0;
	width: 26px;
	height: 26px;
	border: 2px solid #fff;
	border-radius: 100%;
	border-bottom-color: transparent;
	animation: rotate 1s linear 0s infinite;
}

.page-template-easy-login .panel .box .content .forget {
	margin: 0 0 20px;
	text-align: right;
}

.page-template-easy-login .panel .box .content .forget a {
	color: #525666;
	font-weight: 300;
	font-size: 15px;
}

.page-template-easy-login .panel .box .content .submit {
	margin: 0 0 20px;
}

.page-template-easy-login .panel .box .content .submit button {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 56px;
	outline: 0;
	border: none;
	border-radius: 2px;
	background: #008c95;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
}

.page-template-easy-login .panel .box .content .submit button .loading {
	display: inline-block;
	margin: 5px 0 0;
	width: 28px;
	height: 28px;
	border: 2px solid #fff;
	border-radius: 100%;
	border-bottom-color: transparent;
	animation: rotate 1s linear 0s infinite;
}

.page-template-easy-login .panel .box .content .description {
	margin: 0 0 26px;
	text-align: center;
	font-size: 14px;
}

.page-template-easy-login .panel .box .content .description a {
	color: #008c95;
}

.page-template-easy-login .background {
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	min-width: 1920px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	user-select: none;
}

.page-template-easy-login .background:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background: #008c95;
	content: "";
	opacity: .2;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
		-ms-transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}

@media screen and (max-width:480px) {
	.page-template-easy-login .main {
		padding: 0;
	}

	.page-template-easy-login .panel .box {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 0;
	}

	.page-template-easy-login .panel .box .content {
		padding: 35px 15px;
	}

	.page-template-easy-login .panel .box .content h1 {
		position: relative;
		margin: 0 0 55px;
		text-align: left;
	}

	.page-template-easy-login .panel .box .content h1:after {
		position: absolute;
		bottom: -5px;
		left: 0;
		display: block!important;
		width: 50px;
		height: 5px;
		background: #008c95;
		content: "";
	}

	.page-template-easy-login .panel .box .content .input {
		margin: 0 0 30px;
		height: 50px;
		font-size: 14px;
	}

	.page-template-easy-login .panel .box .content .input .send-captcha {
		height: 50px;
		font-size: 14px;
		line-height: 50px;
	}

	.page-template-easy-login .panel .box .content .input .send-captcha .loading {
		margin: 12px 0 0;
	}

	.page-template-easy-login .panel .box .content .forget,.page-template-easy-login .panel .box .content .submit {
		margin: 0 0 30px;
	}

	.page-template-easy-login .panel .box .content .submit button {
		height: 50px;
		font-size: 14px;
	}
}
